/*
purple: #352384;
gray: #333447;
pink: #FF00BF;
*/



body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/*contenedor flexbox*/
.flex-container{
	display: flex;
}

/*-------------Nav Bar----------------------------*/
.link{
  /*padding: 40px 21px;*/
  margin: 18px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

.link:hover{
	color: pink;
}

.menu{
	background-color: transparent;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

#navs{
	align-items: center;
}

.menu.flex-container{
	justify-content: flex-end;
	padding-right: 20px;
}

.logo-container{
	background-image: url(../img/logo-white.png);
	margin-right: auto;
	margin-left: 80px;
	background-repeat: no-repeat;
	width: 70px;
	background-size: 100%;
	margin-top: 15px;
	/*align-self: center;*/
}

.logo {
	align-self: center;
	padding-top:35px;
}

.cuatro{
	border: 1px solid white;
	padding: 5px 15px;
	border-radius: 5px;
}

.cinco{
	border: 1px solid transparent;
	color: transparent;
	padding: 5px 15px;
	border-radius: 5px;
}

/*-------------Cambios a Nav BAr on Scroll*/
.non-opaque {
    background-color: white;
    transition: background-color .3s ease 0s;
}

.logo-rosa{
	background-image: url(../img/logo-pink.png);
	background-size: 100%;
}

.link-gray{
	color: #333447;
}

.cuatro-borde{
	border: 1px solid #333447;
	padding: 5px 15px;
	border-radius: 5px;
	color: #333447;
}

.cinco-aparece{
	border: 1px solid #FF00BF;
	color: #FF00BF;
}

/*------------Registro-Header--------------*/
#registro.flex-container{
	justify-content: flex-end;
	overflow: hidden;
}

#registro{
	margin: 0;
	height: 561px;
	
}

.bg{
	max-width: 100%;
	margin: 0;
	justify-content: flex-end;
}

video { 
    max-width: 99vw;
    height: auto;
    width: auto;
    z-index: -100;
    background-size: cover;
	margin: 0;
	
}

.cuadro-blanco{
	padding: 50px;
	width: 430px;
	
	position: relative;
	background-color: white;
}

/*-------------Informacion---------------------*/

#informacion{
	height: 600px;
	background: linear-gradient(#76278f, #2B1E66);
}


/*-----------------footer--------------------*/

.footer.flex-container{
	background-color: #333447;
	color: white;
	padding: 50px 64px 30px;
	font-size: 14px;
	/*justify-content: space-between;*/
	flex-wrap: wrap;
	flex-direction: column;
}

.row.flex-container{
	flex-direction: row;
	padding-bottom: 60px;
}

.columna{
	width: 178px;
}

.store{
	height: 50px;
	margin-bottom: 15px;
}

.store img{
	width: 160px;
	height: 100%;
}

.row-store{
	text-align: right;
	/*width: 350px;*/
	margin-left: auto;
}

.row-redes.flex-container{
	flex-direction: column;
}

.redes-sociales.flex-container{
	justify-content: center;
	flex-direction: row;
}

.redes-sociales a{
	border: 2px solid #fff;
	border-radius: 50px;
	height: 25px;
	width: 25px;
	text-align: center;
	margin: 0 15px;
}

.social-icon{
	color: white;
	text-decoration: none;
	text-align: center;	
}

.rayita{
	width: 520px;
	margin-top: 20px;
}

.copyright{
	justify-content: center;
}